<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <div class="weather">{{ weather_today }}</div>
        <div class="date">
            {{ date_today }}
            <br>
            <span class="holiday"> Holiday: {{ next_holiday }}</span>
        </div>
    </div>
    <div class="container">
        <div class="banner">Error</div>
        <div class="center-content">
            <p class="error-message">Something went wrong with the search. Please try again.</p>
            <a href="{{ url_for('index') }}">Go back</a>
        </div>
    </div>
</body>
</html>
